<% @phones.each do |phone| %>


  <div class="link row clearfix">
    <h2>
      <%= link_to phone.make, phone %><br>
      <small class="author">Submitted <%= time_ago_in_words(phone.created_at) %> ago</small>
      
    </h2>
  </div>
<% end %>
