  <footer class="page-footer font-small blue pt-4 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Remember to follow us!</h5>
                <p><a class="btn-floating btn-sm btn-tw mx-1" href="https://twitter.com"><i> Twitter </i></a></p>
                <p><a class="btn-floating btn-sm btn-fb mx-1" href="https://www.facebook.com"><i>Facebook</i></a></p>
                <p><a class="btn-floating btn-sm btn-gplus mx-1" href="https://www.instagram.com"><i>Instagram</i></a></p>
            </div>
            <!--/.First column-->
            
            <!--Second column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Popular Models</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Apple</a>
                    </li>
                    <li>
                        <a href="#!">Samsung</a>
                    </li>
                    <li>
                        <a href="#!">Nokia</a>
                    </li>
                    <li>
                        <a href="#!">Huawei</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    
                       <div class="text-center py-3">
        <ul class="list-unstyled list-inline mb-0">
            <li class="list-inline-item">
                <a href="#!" class="btn btn-danger btn-rounded" onclick="doClick()">Click Me</a>
            </li>
        </ul>
    </div>
    <!--/.Footer Links-->

         <hr class="clearfix d-md-none rgba-white-light" style="margin: 0.5% 4% 1%;">

    
    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="#"> PHONEWEBSITECA2.com </a>
    </div>
    <!--/.Copyright-->

</footer>